.block {
  padding: 10px;
  box-sizing: border-box;
  background-color: #030303;
  height: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 1px solid white;

  .title {
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;

    .greenSpan {
      color: #0b9d00;
    }
  }
}
